<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/assets/css/main.css">
        <script src="/assets/js/main.js"></script>
        <title>Projects|{{title | default: "Project Post" }}</title>
        
    </head>
    <body class="cormorant-garamond-bold">
        <nav class="main-nav-bar">
            <!-- Starting from the right of the nav bar, moving leftward -->
            <a id="nav-bar-home"        class="main-nav-bar-link nav-bar-left" href="/"               >| Home |     </a>
            <a id="nav-bar-projects"    class="main-nav-bar-link nav-bar-left" href="/projects"       >| Projects | </a>
            <a id="nav-bar-resume"      class="main-nav-bar-link nav-bar-left" href="/professional"   >| Resume |   </a>

            <!-- Starting from the left of the nav bar, moving rightward -->
            <!--<a class-"main-nav-bar-link nav-bar-right                         " href="personal.html"-->
            <a id="nav-bar-contact"     class="main-nav-bar-link nav-bar-right" href="/contact"       ><img class="pfp nav-pfp" src="/assets/images/website/mreyespfp.jpg"></a>
        </nav>

        <div class="isle-container">
            <div class="isle left-isle">
                {{ content }}
            </div>
            <div class="isle right-isle">
                <div class="God_s-section">
                    <div class="deus-vult">✝ DEUS VULT ✝</div>
                    <div class="random-bible-quote" id="random-bible-quote"> >Insert Bible Quote< </div>
                    <script>GenerateBibleQuote()</script>
                </div>
            </div>
        </div>

        <div class="under-construction-message isle">
            <h1>Notice!</h1>
            <p>This website is an active construction site. Please wear your hard hat. </p>
        </div>
    </body>
</html>