

/*

Purple:
1 #6e417a
2 #b77bc7
3 #daa0eb

Green:
1 #4e996c
2 #65bf89
3 #7fd4a1
4 #b0ddc2

Backgrounds:
GL: #c4ebd4
PL: 

*/
/* Font section */
.astloch-regular {
  font-family: "Astloch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.astloch-bold {
  font-family: "Astloch", system-ui;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



/* Background section */
html, body {
    height: 100%;
    overflow: hidden;
    scrollbar-color: #efbf04 #00000080;
    scrollbar-width: 1%;


}

body {
    background-color: #000000;
    background-image: url("/assets/images/website/silhouette-catholic-cross-sunrise1.jpg");
    background-attachment: fixed;
    background-size: cover;
    
    
    margin-top: 60px;
}



/* NavBar section */
.main-nav-bar {
    position: fixed;
    list-style-type: none;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 1000;
}

.main-nav-bar-link {
    height: 48px;
    text-decoration: none;
    font-weight: bold;
    font-size: 37px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: #000000;
    color: #efbf04;
}

.main-nav-bar-link:hover {
    background-color: #333333;
}

.main-nav-bar-link-active {
    background-color: #efbf04;
    color: #000000;
}

.nav-bar-left {
    float: left;
}

.nav-bar-right {
    float: right;
}



/* Isle section */
.isle-container {
    display: flex;
    gap: 1%;
    width: 100%;
    justify-content: center;
    height: calc(100% - 60px);
}

.isle {
    flex: 1;
    width: 48.5%;
    background-color: #00000080;
    border: 3px solid #efbf04cc;
    border-radius: 5px;
    color: #efbf04;
    padding-left: 5px;
    padding-right: 5px;
}

.left-isle {
    overflow-y: auto;
    height: calc(100% - 20px);
    justify-content: center;


}

.right-isle {
    position: sticky;
    text-align: center;
    height: fit-content;
}



/* Random Bible quote section */
.God_s-section {
    /*
    background-color: #00000080;
    border: 3px solid #efbf04cc;
    border-radius: 5px;
    color: #efbf04;
    position: fixed;
    */
}

.deus-vult {
    font-size: 50px;
}

.random-bible-quote {
    font-size: 25px;
}



/* Page headers, paragraphs, etc. */
h1 {
    font-size: 37px;
}

p {
    font-size: 23px;
    font-weight: 500;
}

hr {
    color: #bf8f04;
    border-color: #bf8f04;
    background-color: #bf8f04;
}

img {
    display: block;
}

.header-link {
    color: #bf8f04;
}

.page-title {
    font-size: 45px;
}

.page-title-housing {
    display: flex;
}
.title-piece {
    flex: 1;
    width: fit-content;
    float: right;
}



/* Slideshow */
.slideshow {
    /*background-color: #00000080;*/
    border: 3px solid #bf8f04;
    border-radius: 5px;
    width: 80%;
    color: #000000;
}

.slide {
    width: 100%;
    font-size: 37px;
    font-weight: 700;
}

.slide-img {
    width: 100%;
}



/* Profile picture */
.pfp {
    border-radius: 50%;
}

.nav-pfp {
    padding: 4px;
    width: 40px;
    height: 40px;
}

.back-pfp {
    flex: 1;
    height: 58px;
    aspect-ratio: 1 / 1;
    
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #efbf04;

    float: left;

    border: 3px solid #efbf04;
}

.back-pfp:hover {
    background-color: #333333;
    cursor: pointer;
}

/*
.back-pfp:target {
    background-color: #efbf04;
}
*/



/* Project posts */
.project-posts-listing {
    height: calc(100%-100px);
    overflow-y: auto;
    border: 3px solid #bf8f04;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    aspect-ratio: 4/3;
    
}

.project-post {
    grid:1;
    border: 3px solid #bf8f04;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 94%;
    aspect-ratio: 4/3;
}

.project-post:hover {
    background-color: #00000080;
    cursor: pointer;
}

.post-thumbnail {
    width: calc(100% - 4px);
    height: 75%;
    object-fit: cover;
    border: 2px solid #bf8f04;
    overflow: hidden;
    
}

.in-post-thumbnail {
    height: 30vh;
    margin: auto;
    border: 2px solid #efbf04cc;
}



/* Code snippets */
.button-code-snippet {
    width: 80%;
    font-size: 15px;
    background-color: #444444;
    color: #efbf04;
    text-align: center;
}

.code-snippet {
    width: 80%;
    font-size: 15px;
    background-color: #444444;
    color: #efbf04;
    width: calc(100% - 8px);
}



/* PDF viewing */
.pdf-viewer-resume {
    width: 70%;
    aspect-ratio: 3 / 4;
}

.pdf-viewer-cert {
    width: 70%;
    aspect-ratio: 4 / 3;
}



/* Connections */
.connections-container {
    margin: 5px;
    padding: 30px;
    height: fit-content;
    border: 3px solid #efbf04cc;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    gap: 50px;
}

.connection {
    width: 40px;
    aspect-ratio: 16/4;
    color: #efbf04;
    text-decoration: none;
    font-size: 30px;
}



/* Scroll bar customizations */
.scrolling-section {
    scrollbar-color: #efbf04 #00000080;
    scrollbar-width: 1%;
}



/* Version */
.version {
    font-size: 35px;
    color: #efbf04
}



/* Redirect icon links*/
.icon-link {
    background-color: #efbf04;

    width: 30px;
    aspect-ratio: 1/1;

    border: 1px solid #efbf04;
    border-radius: 50%;
}

.icon-link:hover {
    background-color: #FFFFFF;
}



/* Under construction pieces */
.under-construction-message {
    position: fixed;
    width: 12%;
    height: fit-content;
    bottom: 5px;
    right: 5px;
    text-align: center;
    background-color: #000000;
    opacity: 95%;
}